* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
.btn{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.btn span{
    position: relative;
    display: inline-block;
    background: greenyellow;
    text-decoration: none;
    width: 200px;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    transition: transform 0.15s linear ;
}